body {
    background-color: lightblue;
    background-image: url("images/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-size: 140em;
    background-position: center;

    }
  
h1 {
   color: navy;
   margin-left: 20px;
  }
#outerbox {
    width: 70%;
    height: 100%;
    border: 5px solid blue;
    margin: auto;
  }
#textbox {
  width: 80%;
  height: 70%;
  border: 1px solid blue;
  box-sizing: border-box;
  margin: auto;
  padding: 2em;
  position: relative;
  background-color: white; opacity:60%;
  }
p {
  text-align: justify;
  font-family:'Source Code Pro', monospace;
}

