body {
  background-color: black;
  background-image: url("images/background_image.jpg");
  background-size: cover; 
  background-attachment: fixed;

}
h1 {
  color: navy;
  margin-left: 20px;
}
#outerbox {
  width: 78%;
  height: 100%;
  border: 5px solid black;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  background: rgba(255,255,255,0.5)
}
#textbox {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 2em;
  position: relative;
}
p {
  text-align: justify;
  font-family:'Source Code Pro', monospace;
}
nav {
  overflow: hidden;
  background-color: black;
}
nav h1 {
  font-family: 'orbitron', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;

}
nav h2 {
  font-family: 'orbitron', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}
a:visited {
  color: rgba(178, 178, 185, 0.932);
}
#logo {
  width: 60px;
  height: 60px;
}