body {
    background-color: black;
    background-image: url("images/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-size: 170em;
    background-position: center;

    }
  
h1 {
   color: navy;
   margin-left: 20px;
  }
#outerbox {
    width: 78%;
    height: 100%;
    border: 5px solid black;
    margin-top: 10%;
    margin-left: 15%;
    background: rgba(255,255,255,0.5)
  }
#textbox {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 2em;
  position: relative;
  }
p {
  text-align: justify;
  font-family:'Source Code Pro', monospace;
  text
}
nav {
  overflow: hidden;
  background-color: #333;
}
nav h1 {
  font-family: 'orbitron', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
